<!DOCTYPE html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="/static/style-regis.css" />
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" methods="post">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname"><br>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname"><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Save">    
    </form>
</body>
</html>